@import "../../styles/variabes.scss";
@import "../../styles/responsive.scss";
.menu {
  display: flex;
  flex-direction: column;

  .menu-subsection {
    margin-bottom: 3px;

    .title {
      text-transform: uppercase;
      font-size: 12px;
      color: $soft-color;
      @include lg {
        display: none;
      }
    }

    .menulist {
      display: flex;
      flex-direction: column;
      margin: 2px 5px;

      @include lg {
        margin: 2px 0;
      }

      .menulink {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 10px;
        text-transform: capitalize;

        @include lg {
          padding: 7px;
          border-radius: 50%;
        }

        &:hover {
          background-color: $soft-bg;
        }
        span {
          @include lg {
            display: none;
          }
        }
      }
    }
  }
}
