@import "../../styles/responsive.scss";

.navbar {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .nav-icons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

    .icon {
      @include sm {
        display: none;
      }
    }

    .notifications {
      position: relative;

      span {
        position: absolute;
        right: -10px;
        top: -5px;
        background-color: red;
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
      }
    }

    .profile {
      display: flex;
      gap: 2px;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
