.footer {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 5px 5px;
  }
}
.footer h3 {
  font-size: 12px;
}
.footer .footer-right {
  display: flex;
  gap: 5px;
}
.footer .footer-right p {
  font-size: 12px;
}
.footer .footer-right p span {
  color: #ddd;
}