.users .info {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.users .info h1 {
  font-size: 20px;
}
.users .info button {
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}